<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu Español</title>
	<link type="text/css" rel="stylesheet" href="style/style.css"  media="screen,projection"/>
</head>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Instalador OSX Iconos</a>
    </div>
  </nav>
    <center>
		<div style="margin: 10px 0;" ></div>
        <form action="/instalar" method="post">
            <button class="waves-effect waves-light btn btn-large" >Instalar</button>
        </form>
		<div style="margin: 10px 0;" ></div>
		<form action="/update" method="post">
            <button class="waves-effect waves-light btn btn-large" >Actualizar</button>
        </form>
		<div style="margin: 10px 0;" ></div>
        <form action="/desinstalar" method="post">
            <button class="waves-effect waves-light btn btn-large" >Desinstalar</button>
        </form>
    </center>
	<script type="text/javascript" src="style/style.js"></script>
</body>
</html>
